#navigation {
  display: flex;
  list-style: none;
  padding-left: 0;
}
#navigation li {
  margin-left: 10px;
}
p {
    text-align: justify;
  }

  img{
    height: 300px;
    width: 300px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px   rgba(109, 108, 108, 0.8);
    
    cursor: pointer;
  }

  img.for-tuning{
    object-fit: cover;
  }

ul.article-content{
  list-style: none;
  padding-left: 0;
  width: 800px;
}

p.image-control {
  text-align: center;
}

#author {
  text-align: center;
}
#title {
  text-align: center;
}
#title p {
  text-align: center;
}